* {
  box-sizing: border-box;
  margin: 0;
}

.slideshow-container {
  max-width: 100%;
  height: 500px;
  position: relative;
  bottom: 54px;
  overflow-x: scroll;
  /* object-fit: cover; */
}

.mySlides {
  display: none;
}


.slideshow-container img {
  max-width: 100%;

  height: 500px;
  object-fit: cover;
}

.text {
  color: #202020;
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  padding: 8px 12px;
  position: absolute;
  bottom: 350px;
  width: 100%;
  text-align: center;
}

.textsecond {

      color: #f2f2f2;
      position: absolute;
      bottom: 30px;
  }


.textthird {
  bottom: 400px;
}


@media only screen and (max-width: 600px){
  .slideshow-container , .text {
    max-width: 100%;
    bottom: 99px;
    font-size: 4vw;
    height: auto;
  
    
  }
  .slideshow-container img {
    object-fit: scale-down;
    height: auto;
    
  }
  .text {
    bottom: 320px;

  }
  .textsecond {
    bottom: 150px;
  
  } 


}
